# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
# Ignore venv folders in any subdirectory
**/venv/
**/.venv/

# VS Code and editor settings
.vscode/
.idea/

# Environment files
**/.env

# macOS system files
.DS_Store

# Python egg & wheel artifacts
*.egg-info/
*.egg
*.whl

# Lambda deployment packages
*.zip

# Logs and temp files
*.log
*.tmp
*.bak

# AWS SAM or Serverless build artifacts (if used)
.aws-sam/
.serverless/

# Pytest and coverage
.pytest_cache/
.coverage
htmlcov/

# FAISS index files (if generated locally)
**/index.faiss
**/index.pkl
